@import "tailwindcss";

.nav-item {
    @apply px-6 py-1 rounded hover:text-gray-700 hover:bg-cyan-500  cursor-pointer
    transition duration-100 ease-in-out transform -translate-x-1/200;
}
body {
    @apply bg-gray-400;
}
.LogIn-Btn {
    @apply bg-blue-900 text-white rounded  py-2 cursor-pointer
    hover:bg-blue-600 w-50
    transition duration-120 ease-in-out transform -translate-x-1/200;
}
.Register-Btn {
    @apply bg-cyan-900 text-white rounded px-1 py-2 cursor-pointer
    hover:bg-green-600 w-50
    transition duration-120 ease-in-out transform -translate-x-1/200;
}
.submit{
    @apply bg-blue-900 text-white rounded px-9 py-1.5 cursor-pointer
    hover:bg-blue-600 w-50
    transition duration-120 ease-in-out transform -translate-x-1/200;
}
.submit-register{
    @apply bg-cyan-900 text-white rounded px-9 py-1.5 cursor-pointer
    hover:bg-green-600 w-50
    transition duration-120 ease-in-out transform -translate-x-1/200;
}
.input-login{
    @apply text-center rounded mt-0.5 mx-2 py-0.5 px-7 bg-gray-100
}
.input-date{
    @apply text-center rounded mt-0.5 mx-2 py-0.5 px-12 bg-gray-100
}
.logOut-btn{
    @apply hover:bg-gradient-to-b hover:from-red-500 hover:to-red-700 rounded m-0.5 px-4 py-2 cursor-pointer  text-white
    transition duration-100 ease-in-out transform -translate-x-1/200
    my-1 flex pl-0
}
.nav-bar{
    @apply flex justify-between text-white rounded m-1 bg-gradient-to-b from-blue-700 to-blue-900
}
.menu-line{
    @apply cursor-pointer hover:bg-gradient-to-b hover:from-blue-500 hover:to-blue-700 rounded my-1 m-1
    transition-all duration-100 ease-in-out transform -translate-x-1/200;
}
.menu-staff{
    @apply fixed inset-y-0 left-0 w-70 border text-white p-1 z-50 m-2 rounded shadow-2xl
    bg-gradient-to-b from-blue-500 to-blue-700
}
.edit-form{
    @apply text-center rounded mt-0.5 mx-2 py-0.5 px-7 bg-gray-100 text-black
}
.edit-form-date{
    @apply text-center rounded mt-0.5 mx-2 py-0.5 px-12 bg-gray-100 text-black
}
.edit-form-select{
    @apply text-center rounded mt-0.5 mx-2 py-0.5 px-15 bg-gray-100 text-black
}
.Scheduled{
    @apply  rounded-4xl border p-1 border-sky-400 border-2 text-sky-700 bg-sky-100 font-bold
}
.Confirmed{
    @apply rounded-4xl border p-1 border-emerald-400 border-2 text-emerald-700 bg-emerald-100 font-bold
}
.Done{
    @apply rounded-4xl  bg-gradient-to-b from-blue-500 to-blue-700 px-4 py-1 text-white border-2 font-bold
}
.AppointmentCard {
    @apply m-1 rounded shadow hover:shadow-2xl hover:m-0.5 p-4 bg-white text-gray-700
    transition duration-450 ease-in-out
}
.Staff-Home {
    @apply bg-gradient-to-b from-blue-500 to-blue-700 p-6 text-white rounded m-1
    hover:drop-shadow-2xl drop-shadow-gray-700
    hover:bg-gradient-to-b hover:from-blue-700 hover:to-blue-900 hover:m-0
    transition-all duration-200 ease-in-out transform -translate-x-1/200
}
.Staff-Profile {
    @apply bg-gradient-to-b from-blue-500 to-blue-700 p-6 text-white rounded m-1
    drop-shadow-2xl drop-shadow-gray-700
}
.Home-Component{
    @apply bg-gradient-to-b from-blue-500 to-blue-700 p-6 text-white rounded m-3
}
.Home-Component2{
    @apply rounded m-3 mt-1 bg-gradient-to-r from-blue-900 to-sky-500 p-5 text-white
    hover:from-blue-700 hover:to-sky-300 transition-all duration-250 ease-in-out
    hover:mx-1
}
.Home-Component3{
    @apply rounded m-3 mt-1 bg-gradient-to-r from-blue-900 to-sky-600 p-5 text-white
    hover:from-blue-700 hover:to-sky-500 transition-all duration-250 ease-in-out
    hover:mx-1
}